//home
$color2: #1d698a;
$color9: #c5c9ca;
$color10: #b1b1b1;
//charge
$color11: #579ebd;
$color12: #3c7087;

//navigation
$color13: #20a6e4;
$color14: #2ecf55;
//soc-color
$soc-color1: #5b90a8;
$soc-color2: #196688;
//speed-color
$speed-color1: #5c93a8;

//inner-circle-color
$inner-color1: #69c3e5;
$inner-color1-dark: #243942;
$inner-color2: #0fb4ff;
$inner-color6: #6895a9;
$inner-color7-dark: #111010;
$inner-color3: #1b79a2;
$inner-color4: #040404;

$ring-size: 1.5%;
$ring-color: $color12;
$border: 1px solid black;

$circle-width: 300px;
$circle-height: $circle-width;

@mixin shadow($level: 2, $inset: false) {
  @if $inset {
    @if $level == 1 {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12),
        inset 0 1px 2px rgba(0, 0, 0, 0.24);
    } @else if $level == 2 {
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16),
        inset 0 3px 6px rgba(0, 0, 0, 0.23);
    } @else if $level == 3 {
      box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.19),
        inset 0 6px 6px rgba(0, 0, 0, 0.23);
    } @else if $level == 4 {
      box-shadow: inset 0 14px 28px rgba(0, 0, 0, 0.25),
        inset 0 10px 10px rgba(0, 0, 0, 0.22);
    } @else if $level == 5 {
      box-shadow: inset 0 19px 38px rgba(0, 0, 0, 0.3),
        inset 0 15px 12px rgba(0, 0, 0, 0.22);
    }
  } @else {
    @if $level == 1 {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    } @else if $level == 2 {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    } @else if $level == 3 {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    } @else if $level == 4 {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    } @else if $level == 5 {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
    }
  }
}

// @import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&display=swap);

@font-face {
  font-family: myFirstFont;
  src: url(FontsFree-Net-Geogtq-Rg.otf);
}

* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mode-color {
  background-color: white;
}

.btn {
  padding: 5px;
  font-size: 1.8rem;
  &:focus {
    outline-color: lightgrey;
  }
  background-color: transparent;
  border: 0;
  @extend .display-flex;
}

.mode-btn {
  @extend .btn;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: myFirstFont;
  font-style: italic;
}
.app-header {
  @extend .display-flex;
  flex: 0.5;
}
.app-body {
  @extend .display-flex;
  justify-content: center;
  flex-direction: column;
  flex: 6;
}
// Footer

.footer {
  border-top: 3px solid $color10;
  width: 100%;
  height: 12%;
  @extend .display-flex;
  justify-content: space-between;
  flex: 1;
}
.footer-content {
  height: 100%;
  @extend .display-flex;
  margin: 5px;
}
.footer-left {
  @extend .footer-content;
  justify-content: flex-start;
  flex: 1;
}
.footer-right {
  @extend .footer-content;
  justify-content: flex-end;
  flex: 1;
}
.footer-icon {
  color: $color10;
}
.app-logo {
  @extend .btn;
  padding: 0;
}
.footer-center {
  @extend .footer-content;
  flex: 2;
  justify-content: space-between;
}
.meter-info {
  @extend .display-flex;
  width: 100%;
  height: 15%;
  text-transform: uppercase;
  font-size: small;
}
.meter-common {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}
.odo-meter {
  height: 50px;
  width: 150px;
  left: 30%;
  @extend .meter-common;
}

.trip-meter {
  height: 50px;
  width: 150px;
  left: 62%;
  @extend .meter-common;
}

//charge screen

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
  text {
    fill: white;
  }
  .mode-color {
    background-color: black;
  }
  .footer-icon {
    &.active {
      color: white;
    }
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }
  .mode-color {
    background-color: white;
  }
  .footer-icon {
    &.active {
      color: black;
    }
  }
}
