@font-face {
  font-family: myFirstFont;
  src: url(FontsFree-Net-Geogtq-Rg.otf);
}
* {
  box-sizing: border-box;
}

.btn, .app-logo, .tab-btn button, .mode-btn {
  padding: 5px;
  font-size: 1.8rem;
  background-color: transparent;
  border: 0;
}
.btn:focus, .app-logo:focus, .tab-btn button:focus, .mode-btn:focus {
  outline-color: lightgrey;
}

.mode-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.display-flex, .meter-info, .footer-content, .footer-center, .footer-right, .footer-left, .footer, .tab-item, .tab-btn, .tab-title, .right-tab, .left-tab, .settings-screen, .navigation-screen, .turn-container, .home-screen, .app-body, .app-header, .btn, .app-logo, .tab-btn button, .mode-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  height: 95vh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: myFirstFont;
  font-style: italic;
}

.app-header {
  flex: 0.5;
}

.app-body {
  flex: 6;
}

.home-screen {
  width: 100%;
}

.turn-container {
  width: 25%;
  flex-direction: column;
}

.navigation-screen {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.settings-screen {
  width: 100%;
  height: 100%;
}

.left-tab {
  width: 40%;
  height: 100%;
  flex-direction: column;
}

.right-tab {
  width: 60%;
  height: 100%;
}

.tab-item, .tab-btn, .tab-title {
  width: 60%;
  min-height: 40px;
}

.tab-title {
  text-transform: uppercase;
  width: 80%;
  font-size: 1.3rem;
}

.tab-btn {
  align-items: flex-end;
  border-bottom: 1.5px solid #b1e3eb;
  opacity: 0.5;
}
.tab-btn button {
  color: inherit;
  text-transform: uppercase;
  width: 100%;
  font-size: 1rem;
}
.tab-btn.active {
  opacity: 1;
}

.map-instruction {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.map-instruction i {
  font-size: 0.7rem;
}

.map-container {
  position: relative;
  height: 70%;
  width: 40%;
  border-radius: 10px;
}

.map-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: inset 0px 0px 25px 35px white;
}

.footer {
  border-top: 3px solid #b1b1b1;
  width: 100%;
  justify-content: space-between;
  flex: 0.7;
}

.footer-content, .footer-center, .footer-right, .footer-left {
  height: 100%;
  margin: 5px;
}

.footer-left {
  justify-content: flex-start;
  flex: 1;
}

.footer-right {
  justify-content: flex-end;
  flex: 1;
}

.footer-icon {
  color: #b1b1b1;
}

.app-logo {
  padding: 0;
}

.footer-center {
  flex: 2;
  justify-content: space-between;
}

.meter-info {
  justify-content: space-between;
  width: 100%;
  height: 15%;
  text-transform: uppercase;
  font-size: small;
}

.meter-common, .trip-meter, .odo-meter {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 5px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }

  text {
    fill: white;
  }

  .footer-icon.active {
    color: white;
  }

  .map-shadow {
    box-shadow: inset 0px 0px 25px 35px black;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }

  .footer-icon.active {
    color: black;
  }
}

/*# sourceMappingURL=index.css.map */
